<% post.each do |post| %>
  <% if user_signed_in? && current_user.favorited_by?(post) %>
    <%= link_to post_favorites_path(post), method: :delete, remote: true, data: { "turbolinks" => false } do %>
      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
      <span style="color: red;"><%= post.favorites.count %></span>
    <% end %>
  <% else %>
    <%= link_to post_favorites_path(post), method: :post, remote: true, data: { "turbolinks" => false } do %>
      ♡<%= post.favorites.count %>
    <% end %>
  <% end %>
<% end %>