<div class="container">
  <div class="row mt-2">

    <div>
      <h3><%= @post.name %></h3>
      <%= image_tag 'man1.png' %>
      <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    </div>
  </div>
</div>
