<% if users.exists? %>
  <% current_user.id = @user.id %>
  <table>
    <tbody>
      <tr>
        <td>フォロー数: <%= current_user.followings.count %></td>
        <td>フォロワー数: <%= current_user.followers.count %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>