<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-10">
      <h1 style="text-align:center"><strong>Music To You ~音楽とあなた~</strong></h1>
      <h4 style="text-align:center">
        このサイトで出来ることは２つ。</br></br>
        ・あなたがまだ知らない音楽を知ることができます。</br>
        ・あなたが好きな音楽を知ってもらうことができます。</br></br>
        さぁ、音楽で繋がろう。
      </h4>

      <div class="text-center">
        <%#= image_tag 'no_image.jpg', size: '300x200' %>
      </div>
    </div>
  </div>
</div>