<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center text-white top">
      <p>
        <strong>Music To You へようこそ</strong><br>
        音楽共有型SNS<br>
        知らない音楽を発掘しよう<br>
        会員ではない方もゲストログインをすることで、MusicToYouを体験することができます。
      </p>

      <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-outline-light mx-auto", method: :post %>

    </div>
  </div>
</div>
