<div class="row">
  <div class="col-lg-6">
    <% if @post.favorited_by?(current_user) %>
      <p>
        <%= link_to post_favorites_path(@post), method: :delete do %>
          ♥<%= @post.favorites.count %>
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to post_favorites_path(@post), method: :post do %>
          ♡<%= @post.favorites.count %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>