<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center text-white midashi">
      <h1><strong>投稿一覧</strong></h1>
    </div>
    <div class="col-lg-4">
      <%= render "search", post: @post %>
    </div>
    <div class="col-lg-8">
      <%= render 'list', posts: @posts %>
    </div>
  </div>
</div>
