<div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    
    <div class="col-lg-12 text-center text-white midashi">
      <h1><strong>共有フォーム</strong></h1>
    </div> 
    
    <%= render "error", post: @post %>
    
    <div class="col-lg-12 text-center text-white kyouyuu">
      <%= render "post", post: @post %>
    </div>
  </div>
</div>

