<footer class="shadow">
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='m-auto text-white'>
    		<p><h3><strong>~MusicToYou~</strong></h3></p>
    	</div>
    </div>
  </div>
</footer>